{% extends "base.html" %}
{% block head_title %}Login Page{% endblock %}
{% block head_custom %}
 <link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}">
{% endblock %}

{% block body_content %}
 <div class="d-flex h-100 flex-column align-items-center justify-content-center">
  <form action="#" method="post">
   <p>Sign in</p>
   <input id="ui" class="form-control mb-3" type="text" name="username" placeholder="Username" required>
   <input id="pi" class="form-control mb-3" type="password" name="password" placeholder="Password" required>
   <div class="d-flex justify-content-evenly">
    <button id="sb" class="btn btn-primary" type="submit" value="submit">Sign Up</button>
    <button id="lb" class="btn btn-primary" type="submit" value="submit">Login</button>
   </div>
  </form>
 </div>
{% endblock %}

{% block body_custom %}
 <script src="{{ url_for("static", filename="js/login.js") }}"></script>
{% endblock %}
